################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExpenseTrackerApp/.vs/ExpenseTrackerApp/FileContentIndex/03043996-85cd-400a-a14b-529dce729cea.vsidx
